#Must use full paths
[ircbot]
nick=RecheckWatchBot
pass=
server=irc.freenode.net
port=6667
channel_config=/home/mtreinish/elasticRecheck/recheckwatchbot.yaml

[recheckwatch]
#Any project that has a job that matches this regex will have all their
#jobs included in the recheck algorithm
jobs_re=dsvm
ci_username=jenkins

[gerrit]
user=treinish
host=review.openstack.org
query_file=/home/mtreinish/elasticRecheck/queries
key=/home/mtreinish/.ssh/id_rsa

[data_source]
es_url=http://logstash.openstack.org:80/elasticsearch
ls_url=http://logstash.openstack.org
db_uri=mysql+pymysql://query:query@logstash.openstack.org/subunit2sql
index_format=logstash-%Y.%m.%d
