{% extends "base.html" %}
{% block body %}
    {{ super() }}

<style>
  .menu {
     float: right;
  }
</style>

<div class="menu">
<a name="top"></a>
{% for job in jobs %}
<li><a href="#{{job[0]}}">{{job[0]}} ({{job[1]}})</a></li>
{% endfor %}
</div>
<div class="jobs">
<h1>Unclassified failed jobs</h1>
Overall Categorization Rate: {{ rate }}


{% for job in jobs %}
<a name="{{job[0]}}"></a>
<a href="#top"><i>back to top</i></a>
<h2>{{ job[0] }} : {{ job[1] }} Uncategorized Fails</h2>
<ul>
  {% for url in urls[job[0]] %}

  <li>{{url['timestamp']}}: <a href="{{ url['log'] }}">{{ url['log'] }}</a></li>
  {% endfor %}
</ul>
{% endfor %}
{% endblock %}
</div>
