
.graph {
    width: 600px;
    height: 200px;
    margin-bottom: 6px;
}
.extlink {
    margin-left: 2em;
    margin-right: 2em;
}
.bug-container {
    margin-bottom: 2em;
}
table {
    width: auto;
}
h2 {
    padding-top: 1em;
}

/** keep the h2 color even if it's a link */
h2 a, h2 a:visited {
    color: inherit;
}

h3 {
    font-size: 1.1em;
}

ul.nav.nav-tabs {
    list-style: none;
    padding: 0px;
    margin: 0px;
    height: 24px;
    border-bottom: 1px solid #EEEEEE;
}

ul.nav.nav-tabs li {
    float: left;
    position: relative;
    display: block;
    margin-bottom: -1px;
}

ul.nav.nav-tabs li a {
    background-color: #F8F8F8;
    margin-bottom: -1px;
    border: 1px solid #EEEEEE;
    padding: 8px 10px 8px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

ul.nav.nav-tabs li.active a {
    background-color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}

.recheck-graph-container {
    padding: 10px;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.openreviews {
    font-weight: bold;
}

div.openreviews {
    margin-left: 2em;
}